{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h2>
    <p>This blog web application was created by Sunah Lee as the final project for IS211 class in Fall of 2019. Hope you enjoy all features.</p><br>
    <h2>Features</h2>
    <p>Navigation</p>
    <p>My Blog / Home - Welcome! The Home page gives you a list of all blog posts from all users in reverse chronologic order.</p>
    <p>Register - You can read all posts but cannot create your own posts until you register. You will need to input your username, email, and password.</p>

    <p>My Dashboard - Once logged in, you are taken to your own dashboard where you see a list of your posts only (in reverse chronologic order). You can click into individual post titles to update and delete them.</p>
    <p>New Post - This link allows you to create a new post. A title and content is required in order to post.</p>
    <p>Account - You can update your account in this section. Your username and email can be changed. Once changed, your previous info is deleted. You can also upload a new profile picture.</p>
    <p>Logout - After you logout, you can still read posts but cannot edit or delete your posts.</p>

{% endblock content %}
