{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h2>
    <p>This blog web application was created by Sunah Lee as the final project for IS211 class in Fall of 2019. Hope you enjoy all features.</p><br>
    <h2>Features</h2>
    <p>Navigation</p>
    <p>My Blog / Home - Gives you a list of all blog posts from all users in reverse chronologic order.</p>
    <p>Login / Register - Allows you to register a username, email and password so that you can gain access to your Dashboard.</p>
    <p>Dashboard - Once logged in, you are taken to your own dashboard where you see a list of your posts only (in reverse chronologic order). You can click into individual post titles to update and delete them.</p>
{% endblock content %}